/* HEADER / NAVBAR / CATEGORIES */

a {
    color: black;
    text-decoration: none;
}

nav {
    display:flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

nav h1 {
    display:flex;
    font-size: 50px;
    margin :0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    margin-left: 10px;
    color: #8795de;
}

#logos-navbar {
    display:flex;
    align-items: center;
    position: fixed;
    right:0;
    width:15%;
    justify-content: space-evenly;
    margin-top: 2%;
}
#logos-navbar a {
    color: #8795de;
}
#logos-navbar a:hover {
    color: #0B5ED7;
}
nav img {
    max-width: 60px;
}

#navbar-items {
    display:flex;
    justify-content:center;
    width: 100%;
    align-items: center;
}

#logo-site {
    display:flex;
    justify-content: center;
    align-items:center;
}

form {
    display:flex;
    justify-content: center;
    width: 100%;
}

#searchbar {
    display:flex;
    width :80%;
    justify-content: center;
    padding: 10px;
}

#searchbar input {
    border-radius: 10px;
    border: solid 0px grey;
    box-shadow: 1px 2px 10px 2px rgba(128, 128, 128, 0.5);
}

#searchbar input:focus {
    border: none;
    outline: none;
}

#searchbar button {
    margin-left: 15px;
    border-radius: 10px;
    border: solid 0px rgba(128, 128, 128, 0.5);
    background-color: white;
}

button .fa-solid {
    color: #8795de;
}
button .fa-solid:hover {
    color: #0B5ED7;
}

.fa-solid {
    width:45px;
}

#logos-navbar .fa-solid {
    width:60px;
}

@media (max-width:952px) {
    #connexion {
        font-size: 1.5em;
    }

    #panier {
        font-size: 1.5em;
    }

    #logos-navbar .fa-solid {
        width: 40px;
    }
}

@media (max-width: 667px){
    #connexion {
        font-size: 1em;
    }
    #panier {
        font-size: 1em;
    }

    #logos-navbar .fa-solid {
        width: 30px;
        height: 35px;
    }

    button .fa-2x{
        font-size: 1.5em;
    }
}

@media (max-width: 526px){
    nav h1 {
        font-size: 30px;
    }

    nav img {
        width: 40px;
    }

    #logos-navbar {
        width: 18%;
    }
}

/*MENU BURGER*/

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center;
    color:#8795de;
    font-size: x-large;
    font-weight: 500;
}

.burger-menu.active {
    transform: rotate(90deg);
}

.burger-bar {
    width: 25px;
    height: 3px;
    margin: 4px 0;
}

.categories {
    transition: all 0.5s ease;
}

@media (max-width: 768px) {

    .burger-menu {
        display: flex;
        position: fixed;
        left:0;
        margin-left: 15px;
        
    }

    .categories {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        flex-direction: column;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .categories.active {
        max-height: 500px;
        opacity: 1;
    }
}

#connexion {
    border: solid 0px rgba(128, 128, 128, 0.5);
    box-shadow: 1px 2px 10px 1px rgba(128, 128, 128, 0.5);
    text-align: center;
    border-radius: 10px;
    height: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#panier {
    border: solid 0px rgba(128, 128, 128, 0.5);
    box-shadow: 1px 2px 10px 1px rgba(128, 128, 128, 0.5);
    text-align: center;
    border-radius: 10px;
    height: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
}

ul {
    display:flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.categories li a {
    transition: transform 0.2s ease;
    display: inline-block;
}

.categories li a:hover {
    transform: scale(1.1);
}

/* carousel */

.w-100 {
    object-fit: cover;
}

.carousel-caption h1 {
    color: white;
    text-shadow:2px 2px 5px black;
}

.carousel-caption p {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.opacity-75 {
    opacity: 100 !important;
}

.btn {
    background-color: #8795de;
    border-color: #8795de;
}

section {
    padding: 0 5%;
}
#nav-icones{
    /* border: 2px solid red; */
    background-color: #8795de;
    padding: 10px 0 5px;
}
#nav-icones ul{
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}
.container-promos h1{
    text-align: center;
    padding: 25px 0;
}
#photos-promo{
    display: flex;
    justify-content: center;
    gap: 100px;
}
#photos-promo img{
    max-width: 500px;
}
#btn-offre{
    justify-content: center;
}
/*FOOTER */

.col-md-5 form {
    display:flex;
    flex-direction: column;
}