h1 {
    text-align: center;
}

.formulaire-connexion {
    width: 100%;
    height: 20vh;
    margin-top: 40px;
}

#container {
    display:flex;
    flex-direction: column;
    margin-right: 80px;
    justify-content: space-between;
    align-items: flex-end;
    
}

#bouton {
    width: 68%;
    display:flex;
    justify-content: center;
}

#inscription {
    display:flex;
    justify-content: center;
    margin-top:20px;
}
